/* -----------------------------------------
* VARIABLES
-------------------------------------------*/
:root {
    /* palette */
    --col-darkblue: #083b4c;
    --col-red: #f0466f;
    --col-green: #0bd6a1;
    --col-blue: #1389b2;
    --col-yellow: #ffd166;

    /* layout */
    --layout-gap: 10px;

    --container-sm: 540px;
    --container-md: 720px;
    --container-lg: 960px;
    --container-xl: 1140px;
}


/* -----------------------------------------
* RESET
-------------------------------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -----------------------------------------
* GENERICS
-------------------------------------------*/
body {
    background-color: var(--col-darkblue);
    font-family: sans-serif;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
    
    color: #fff;
    text-align: center;
}


/* -----------------------------------------
* UTILITY
-------------------------------------------*/
/*** MISC ***/
.container {
    margin: 0 auto;
    padding: 0 var(--layout-gap);
}

/*** COLORS ***/
.bg-red {
    background-color: var(--col-red);
}

.bg-green {
    background-color: var(--col-green);
}

.bg-blue {
    background-color: var(--col-blue);
}

.bg-yellow {
    background-color: var(--col-yellow);
}


/*** ANIMATIONS ***/
.animate {
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Scale */
.animate.scale:hover {
    transform: scale(1.5);
}

/* Spin */
.animate.spin {
    transition-duration: 1s;
}

.animate.spin:hover {
    transform: rotate(1turn);
}

/* Spin And Scale */
.animate.spin-scale:hover {
    transform: rotate(1turn) scale(1.5);
}

/* Flip */
.animate.flip {
    transition-duration: 1s;
}

.animate.flip:hover {
    transform: rotate3d(0, -1, 0, 0.5turn);
}


/* -----------------------------------------
? ELEMENTS
-------------------------------------------*/

/*** CARDS ***/
/* Deck */
.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Card */
.card-deck .card {
    width: 150px;
    height: 150px;
    margin: var(--layout-gap);

    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    border-radius: 10px;

    cursor: pointer;
    
}


/* -----------------------------------------
? RESPONSIVE
-------------------------------------------*/
/*** MEDIA SM ***/
@media screen and (min-width: 576px) {
    .container {
        max-width: var(--container-sm);
    }
}

/*** MEDIA MD ***/
@media screen and (min-width: 768px) {
    .container {
        max-width: var(--container-md);
    }
}

/*** MEDIA LG ***/
@media screen and (min-width: 992px) {
    .container {
        max-width: var(--container-lg);
    }
}

/*** MEDIA XL ***/
@media screen and (min-width: 1200px) {
    .container {
        max-width: var(--container-xl);
    }
}